body {
    background: linear-gradient(135deg, #FFFDE4 0%, #FFE87C 100%);
    font-family: 'Noto Sans KR', sans-serif;
    color: #6a472b;
    margin: 0;
}
.monthly-layout {
    width: 90%;
    max-width: 950px;
    margin: 48px auto 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 48px;
}
.streak-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    background: rgba(255,255,255,0.30);
    border-radius: 16px;
    box-shadow: 0 4px 24px #eedc8250;
	padding: 34px 36px 84px;
}
.streak-img {
    width: 200px;
	height:200px;
    margin-bottom: 16px;
}
.streak-number {
    font-size: 48px;
    font-weight: 800;
    color: #86621a;
    margin-top: 12px;
}
.streak-label {
    font-size: 28px;
    font-weight: 700;
    color: #86621a;
    margin-top: 2px;
}
.report-card {
    flex: 1;
    background: #fffde6cc;
    border-radius: 18px;
    padding: 34px 36px;
    margin-left: 12px;
    box-shadow: 0 4px 24px #eedc8240;
    min-width: 340px;
}
.report-label {
    font-weight: 700;
    font-size: 18px;
    color: #68481e;
    background: #f5de8e;
    padding: 8px 26px 8px 18px;
    border-radius: 18px 18px 0 0;
    display: inline-block;
    margin-bottom: 18px;
}
.report-desc {
    font-size: 17px;
    margin-bottom: 18px;
    color: #68481e;
}
